/*****************************************************************************
  portfolio
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';

/***COLOR STYLES***/
$text-color: #444444;
$blue-light: #8FABC0;
$blue-dark: #021C29;
$blue-lighter: #CBF1F2;
$green-dark: #004218;
$yellow-tan: #B5BF74;

/***FONT STYLES***/

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/*****************************************************************************
  Base Styles
******************************************************************************/
*, html {
  color: $text-color;
  text-align: center;
}

body {
  background: url('../images/bg-home.jpg') no-repeat center center fixed;
}

.intro {
/*  max-width: 80%;*/
  background-color: rgba(255, 255, 255, 0.5);
  border: .2em solid;
  margin: 0 auto;
  padding: 2em;
  width: 100%;
  position: absolute;
  top: 30%;

  p {
    text-align: left;
  }
}

/*****************************************************************************
  Layout Styles
******************************************************************************/




/*****************************************************************************
  Module Styles
******************************************************************************/


/*NAVIGATION BAR STYLES*/
#nav-container {
  height: 4em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

#nav-toggle {
  position: absolute;
  right: 1.5em;
  top: .5em;
  cursor: pointer;
  padding: 30px 50px 30px 30px;
  z-index: 1000;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 2px;
  height: 4px;
  width: 40px;
  background: $blue-dark;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -12px;
}

#nav-toggle span:after {
  bottom: -12px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

#navbar {
  @include transition(top 0.25s $ease-in-sine);

  position: fixed;
  height: 100%;
  width: 100%;
  top: -100%;
  background-color: white;
  opacity: 0.9;
  color: black;
  z-index: 900;

  ul {
    padding-top: 5em;
    text-align: center;
    list-style: none;
    padding-left: 0;
  }

  &.active {
    top: 0;
  }
}

